@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url('https://fonts.googleapis.com/css?family=Sunflower:500,700');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

html{
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    background-color: #F3EDE9;
}

.full_box{
    border: 6px groove #e0d1c6;
}

.titleimage{
    width: 100%;
}

.contents{
    text-align: center;
}

.letter{
    padding: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
    word-break: keep-all;
}

.date{
    padding-bottom: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 22px;
}

.author{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}

.sign{
    width: 150px;
    margin-bottom: 10px;
}

.composer{
    background-image: url("./images/bottom.png");
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 87px;
}

.logo{
    width: 55px;
    height: 40px;
}
